# Group-by Questions

In [3]:
import pandas as pd
import numpy as np

In [4]:
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',  
                 'Gaurav', 'Anuj', 'Princi', 'Abhi'],  
        'Age':[27, 24, 22, 32,  
               33, 36, 27, 32],  
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj', 
                   'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],  
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 
                         'B.Tech', 'B.com', 'Msc', 'MA'],
        'Percentage':[70,85,75,63,72,90,69,87]}

In [5]:
df = pd.DataFrame(data1)
df

     Name  Age    Address Qualification  Percentage
0     Jai   27     Nagpur           Msc          70
1    Anuj   24     Kanpur            MA          85
2     Jai   22  Allahabad           MCA          75
3  Princi   32    Kannuaj           Phd          63
4  Gaurav   33    Jaunpur        B.Tech          72
5    Anuj   36     Kanpur         B.com          90
6  Princi   27  Allahabad           Msc          69
7    Abhi   32    Aligarh            MA          87

## Question - 1 Create a dataframe using pandas group-by, find the average percentage for every student.

In [6]:
df.groupby(['Name']).agg({'Percentage':'mean'})

        Percentage
Name
Abhi          87.0
Anuj          87.5
Gaurav        72.0
Jai           72.5
Princi        66.0

## Question - 2 Create a dataframe using pandas group-by, find average 'age' of for each qualifications.

In [7]:
df.groupby(['Qualification']).agg({'Age':'mean'})

               Age
Qualification
B.Tech          33
B.com           36
MA              28
MCA             22
Msc             27
Phd             32

In [8]:
df.groupby('Qualification').agg({'Age':'mean'})

               Age
Qualification
B.Tech          33
B.com           36
MA              28
MCA             22
Msc             27
Phd             32

In [9]:
df.groupby('Qualification')['Age'].mean()

Qualification
B.Tech    33
B.com     36
MA        28
MCA       22
Msc       27
Phd       32
Name: Age, dtype: int64

## Question - 3 Create a dataframe using pandas group-by, find average, max, min percentage based on Address.

In [10]:
df

     Name  Age    Address Qualification  Percentage
0     Jai   27     Nagpur           Msc          70
1    Anuj   24     Kanpur            MA          85
2     Jai   22  Allahabad           MCA          75
3  Princi   32    Kannuaj           Phd          63
4  Gaurav   33    Jaunpur        B.Tech          72
5    Anuj   36     Kanpur         B.com          90
6  Princi   27  Allahabad           Msc          69
7    Abhi   32    Aligarh            MA          87

In [11]:
df.groupby(['Address']).agg({'Percentage':['mean','max','min']})

          Percentage
                mean max min
Address
Aligarh         87.0  87  87
Allahabad       72.0  75  69
Jaunpur         72.0  72  72
Kannuaj         63.0  63  63
Kanpur          87.5  90  85
Nagpur          70.0  70  70

## Next set of Questions

In [12]:
df = pd.read_csv('sales_data.csv', parse_dates = ['date'])

In [15]:
df.head(5)

,order_id,company_id,company_name,date,order_value,sale_converted,sales_rep,sales_rep_id
0,SZZW8HGSD5QQX3JI,Z4L1WVR5TDCXRLM5,Later Pi,2016-07-17,5154,0,Alvin Jenson,EC6ZO52HL81ANX7W
1,9UX75FRFD5YCEXHK,Z4L1WVR5TDCXRLM5,Later Pi,2016-04-24,2948,0,Alvin Jenson,EC6ZO52HL81ANX7W
2,7ISQG9K1MTTVCP09,Z4L1WVR5TDCXRLM5,Later Pi,2018-08-28,2667,0,Alvin Jenson,EC6ZO52HL81ANX7W
3,PEXDGXSRBDXX5FIM,Z4L1WVR5TDCXRLM5,Later Pi,2016-05-29,564,0,Alvin Jenson,EC6ZO52HL81ANX7W
4,DOR9GU38YZCS88NN,Z4L1WVR5TDCXRLM5,Later Pi,2015-03-06,6449,0,Alvin Jenson,EC6ZO52HL81ANX7W

In [14]:
df.shape

(20129, 8)

## Question - 4 Using group-by, create a dataframe with the names of top five sales representative who have converted the most number of sales?

In [17]:
df.groupby(['sales_rep']).agg({'sale_converted':'sum'}).reset_index().sort_values(by=['sale_converted'],ascending=False).head(5)

             sales_rep  sale_converted
60          Mark Brown              65
15  Christopher Brandt              63
94       Tiffany Haley              63
21         David Shirk              61
26       Enrique Burns              60

## Question - 5 Using group-by, create a dataframe with the names of top five sales representative based on total sales value.

In [18]:
df.head()

,order_id,company_id,company_name,date,order_value,sale_converted,sales_rep,sales_rep_id
0,SZZW8HGSD5QQX3JI,Z4L1WVR5TDCXRLM5,Later Pi,2016-07-17,5154,0,Alvin Jenson,EC6ZO52HL81ANX7W
1,9UX75FRFD5YCEXHK,Z4L1WVR5TDCXRLM5,Later Pi,2016-04-24,2948,0,Alvin Jenson,EC6ZO52HL81ANX7W
2,7ISQG9K1MTTVCP09,Z4L1WVR5TDCXRLM5,Later Pi,2018-08-28,2667,0,Alvin Jenson,EC6ZO52HL81ANX7W
3,PEXDGXSRBDXX5FIM,Z4L1WVR5TDCXRLM5,Later Pi,2016-05-29,564,0,Alvin Jenson,EC6ZO52HL81ANX7W
4,DOR9GU38YZCS88NN,Z4L1WVR5TDCXRLM5,Later Pi,2015-03-06,6449,0,Alvin Jenson,EC6ZO52HL81ANX7W

In [19]:
df['sales_value'] = df['order_value'] * df['sale_converted']
df.head()

,order_id,company_id,company_name,date,order_value,sale_converted,sales_rep,sales_rep_id,sales_value
0,SZZW8HGSD5QQX3JI,Z4L1WVR5TDCXRLM5,Later Pi,2016-07-17,5154,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
1,9UX75FRFD5YCEXHK,Z4L1WVR5TDCXRLM5,Later Pi,2016-04-24,2948,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
2,7ISQG9K1MTTVCP09,Z4L1WVR5TDCXRLM5,Later Pi,2018-08-28,2667,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
3,PEXDGXSRBDXX5FIM,Z4L1WVR5TDCXRLM5,Later Pi,2016-05-29,564,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
4,DOR9GU38YZCS88NN,Z4L1WVR5TDCXRLM5,Later Pi,2015-03-06,6449,0,Alvin Jenson,EC6ZO52HL81ANX7W,0

In [21]:
df.groupby(['sales_rep']).agg({'sales_value':'sum'}).reset_index().sort_values(by='sales_value', ascending=False).head(5)

             sales_rep  sales_value
15  Christopher Brandt       345871
14     Christina Clark       335284
60          Mark Brown       329051
21         David Shirk       314189
41      John Augustine       305240

In [20]:
#another way of doing without making sales_value column

df[df['sale_converted']==1].groupby(['sales_rep']).agg({'order_value':'sum'}).reset_index().sort_values(by='order_value', ascending=False).head(5)

             sales_rep  order_value
15  Christopher Brandt       345871
14     Christina Clark       335284
60          Mark Brown       329051
21         David Shirk       314189
41      John Augustine       305240

## Question - 6 Using group-by, create a dataframe with top 10 sales representative, describing the amount of sales that they were not able to convert? (Descending Order)

In [22]:
df.head(5)

,order_id,company_id,company_name,date,order_value,sale_converted,sales_rep,sales_rep_id,sales_value
0,SZZW8HGSD5QQX3JI,Z4L1WVR5TDCXRLM5,Later Pi,2016-07-17,5154,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
1,9UX75FRFD5YCEXHK,Z4L1WVR5TDCXRLM5,Later Pi,2016-04-24,2948,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
2,7ISQG9K1MTTVCP09,Z4L1WVR5TDCXRLM5,Later Pi,2018-08-28,2667,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
3,PEXDGXSRBDXX5FIM,Z4L1WVR5TDCXRLM5,Later Pi,2016-05-29,564,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
4,DOR9GU38YZCS88NN,Z4L1WVR5TDCXRLM5,Later Pi,2015-03-06,6449,0,Alvin Jenson,EC6ZO52HL81ANX7W,0

In [23]:
df_2 = df.groupby(['sales_rep']).agg({'order_value':'sum','sales_value':'sum'}).reset_index()

In [24]:
df_2['missed_sales'] = df_2['order_value'] - df_2['sales_value']

In [25]:
df_2.sort_values(by='missed_sales', ascending=False).head(10)

          sales_rep  order_value  sales_value  missed_sales
3   Alyssa Mckinney      2172439       261602       1910837
14  Christina Clark      2134452       335284       1799168
94    Tiffany Haley      2009773       298709       1711064
40  Johanna Brauner      1964111       269380       1694731
6      Angel Guidry      1953061       269197       1683864
70     Monica March      1968726       288891       1679835
21      David Shirk      1984899       314189       1670710
25   Elijah Valenti      1841091       172542       1668549
33     James Mosely      1937598       293727       1643871
54     Linda Grandy      1899268       262126       1637142

In [29]:
df_2["percentage_sale"] = round((df_2['missed_sales']/df_2['order_value'])*100,2)
df_2.sort_values(by='missed_sales', ascending=False).head(10)

          sales_rep  order_value  sales_value  missed_sales  percentage_sale
3   Alyssa Mckinney      2172439       261602       1910837            87.96
14  Christina Clark      2134452       335284       1799168            84.29
94    Tiffany Haley      2009773       298709       1711064            85.14
40  Johanna Brauner      1964111       269380       1694731            86.28
6      Angel Guidry      1953061       269197       1683864            86.22
70     Monica March      1968726       288891       1679835            85.33
21      David Shirk      1984899       314189       1670710            84.17
25   Elijah Valenti      1841091       172542       1668549            90.63
33     James Mosely      1937598       293727       1643871            84.84
54     Linda Grandy      1899268       262126       1637142            86.20

## Question - 7 Using group-by, create a dataframe, list top ten companies which has created most sales and also mention the corresponding order values placed with them.

In [30]:
df.groupby(['company_name']).agg({'order_value':'sum',
                                 'sales_value':'sum'}).sort_values(by='sales_value', ascending=False).reset_index().head()

           company_name  order_value  sales_value
0  Out-Of-Bounds Pacers       196775        66744
1     Gullible Referral       161660        63670
2         Minor Targets       173282        59584
3       Renal Columnist       146172        57759
4  Sore-Ridden Eyebrows       181978        57604

## Question - 8 Based on the sales value, list out top 5 sales representative and their top 5 companies. Hint: You need a UDF to sort the sales value for each group. OR Use a lambda function to do the same.

In [31]:
df.head(5)

,order_id,company_id,company_name,date,order_value,sale_converted,sales_rep,sales_rep_id,sales_value
0,SZZW8HGSD5QQX3JI,Z4L1WVR5TDCXRLM5,Later Pi,2016-07-17,5154,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
1,9UX75FRFD5YCEXHK,Z4L1WVR5TDCXRLM5,Later Pi,2016-04-24,2948,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
2,7ISQG9K1MTTVCP09,Z4L1WVR5TDCXRLM5,Later Pi,2018-08-28,2667,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
3,PEXDGXSRBDXX5FIM,Z4L1WVR5TDCXRLM5,Later Pi,2016-05-29,564,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
4,DOR9GU38YZCS88NN,Z4L1WVR5TDCXRLM5,Later Pi,2015-03-06,6449,0,Alvin Jenson,EC6ZO52HL81ANX7W,0

In [32]:
df_3 = df.groupby(['sales_rep','company_name']).agg({'sales_value':'sum'}).reset_index()

In [33]:
df_3.head()

        sales_rep                     company_name  sales_value
0  Alease Puckett               12-Month Originals        13482
1  Alease Puckett  Conservatively-Cravated Dabbler        20556
2  Alease Puckett                       Eternal Ap        12378
3  Alease Puckett           Freshly-Ground Bleeker         6496
4  Alease Puckett                 Ninetieth Throne         8320

# With UDF

In [34]:
def sort_df(df):
    df = df.copy()
    df = df.sort_values(by=['sales_value'], ascending=False)
    df = df.head(5)
    return df

In [35]:
top_5 = df_3.groupby(['sales_rep']).apply(sort_df).reset_index(drop=True)
top_5

            sales_rep                     company_name  sales_value
0      Alease Puckett                  Unglued Pompano        35684
1      Alease Puckett         Present-Day Ecumenicists        21546
2      Alease Puckett  Conservatively-Cravated Dabbler        20556
3      Alease Puckett              Powerless Co-Author        14815
4      Alease Puckett               12-Month Originals        13482
..                ...                              ...          ...
425  William Reynolds               Preflight Personae         7191
426      Yvonne Jones            Intractable Fairgoers        38562
427      Yvonne Jones      Entry-Limiting Westinghouse        23770
428      Yvonne Jones                Electrical Patent        15129
429      Yvonne Jones                     Smarter Java         6412

[430 rows x 3 columns]

![image.png]()

In [36]:
y = df_3[df_3['sales_rep']=='Alease Puckett']

In [37]:
y

         sales_rep                     company_name  sales_value
0   Alease Puckett               12-Month Originals        13482
1   Alease Puckett  Conservatively-Cravated Dabbler        20556
2   Alease Puckett                       Eternal Ap        12378
3   Alease Puckett           Freshly-Ground Bleeker         6496
4   Alease Puckett                 Ninetieth Throne         8320
5   Alease Puckett              Powerless Co-Author        14815
6   Alease Puckett         Present-Day Ecumenicists        21546
7   Alease Puckett                  Raftered Fluids         2428
8   Alease Puckett                     Rival George         3648
9   Alease Puckett                  Stingy School'S         6007
10  Alease Puckett                  Unglued Pompano        35684

In [38]:
y = y.sort_values(by=['sales_value'], ascending=False)

In [39]:
y = y.head(5)

In [40]:
y

         sales_rep                     company_name  sales_value
10  Alease Puckett                  Unglued Pompano        35684
6   Alease Puckett         Present-Day Ecumenicists        21546
1   Alease Puckett  Conservatively-Cravated Dabbler        20556
5   Alease Puckett              Powerless Co-Author        14815
0   Alease Puckett               12-Month Originals        13482

In [ ]:
## Lambda

In [41]:
df_3.head()

        sales_rep                     company_name  sales_value
0  Alease Puckett               12-Month Originals        13482
1  Alease Puckett  Conservatively-Cravated Dabbler        20556
2  Alease Puckett                       Eternal Ap        12378
3  Alease Puckett           Freshly-Ground Bleeker         6496
4  Alease Puckett                 Ninetieth Throne         8320

In [42]:
def sort_df(df: pd.DataFrame):
  df = df.copy()
  df = df.sort_values(by=['sales_value'], ascending=False)
  df = df.head(5)
  return df

top_5 = df_3.groupby(['sales_rep']).apply(sort_df).reset_index(drop=True)

In [43]:
df_3.groupby(['sales_rep']).apply(lambda x: x.sort_values(by=['sales_value'], ascending=False).head(5))

                             sales_rep                     company_name  \
sales_rep
Alease Puckett   10     Alease Puckett                  Unglued Pompano
                 6      Alease Puckett         Present-Day Ecumenicists
                 1      Alease Puckett  Conservatively-Cravated Dabbler
                 5      Alease Puckett              Powerless Co-Author
                 0      Alease Puckett               12-Month Originals
...                                ...                              ...
William Reynolds 920  William Reynolds               Preflight Personae
Yvonne Jones     925      Yvonne Jones            Intractable Fairgoers
                 924      Yvonne Jones      Entry-Limiting Westinghouse
                 923      Yvonne Jones                Electrical Patent
                 926      Yvonne Jones                     Smarter Java

                      sales_value
sales_rep
Alease Puckett   10         35684
                 6          21546
                 1          20556
                 5          14815
                 0          13482
...                           ...
William Reynolds 920         7191
Yvonne Jones     925        38562
                 924        23770
                 923        15129
                 926         6412

[430 rows x 3 columns]

In [44]:
df_3.groupby(['sales_rep']).count()

                  company_name  sales_value
sales_rep
Alease Puckett              11           11
Alejandro Ford               3            3
Alvin Jenson                 8            8
Alyssa Mckinney             18           18
Amy Jernigan                 5            5
...                        ...          ...
Tiffany Haley               18           18
Victor Groves               16           16
Victoria Duncan              5            5
William Reynolds             5            5
Yvonne Jones                 4            4

[99 rows x 2 columns]

In [45]:
df_3.groupby(['sales_rep']).apply(lambda x: x.sort_values(by=['sales_value'], ascending=False).head(5))

                             sales_rep                     company_name  \
sales_rep
Alease Puckett   10     Alease Puckett                  Unglued Pompano
                 6      Alease Puckett         Present-Day Ecumenicists
                 1      Alease Puckett  Conservatively-Cravated Dabbler
                 5      Alease Puckett              Powerless Co-Author
                 0      Alease Puckett               12-Month Originals
...                                ...                              ...
William Reynolds 920  William Reynolds               Preflight Personae
Yvonne Jones     925      Yvonne Jones            Intractable Fairgoers
                 924      Yvonne Jones      Entry-Limiting Westinghouse
                 923      Yvonne Jones                Electrical Patent
                 926      Yvonne Jones                     Smarter Java

                      sales_value
sales_rep
Alease Puckett   10         35684
                 6          21546
                 1          20556
                 5          14815
                 0          13482
...                           ...
William Reynolds 920         7191
Yvonne Jones     925        38562
                 924        23770
                 923        15129
                 926         6412

[430 rows x 3 columns]

Another way of doing

In [46]:
df.head()

,order_id,company_id,company_name,date,order_value,sale_converted,sales_rep,sales_rep_id,sales_value
0,SZZW8HGSD5QQX3JI,Z4L1WVR5TDCXRLM5,Later Pi,2016-07-17,5154,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
1,9UX75FRFD5YCEXHK,Z4L1WVR5TDCXRLM5,Later Pi,2016-04-24,2948,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
2,7ISQG9K1MTTVCP09,Z4L1WVR5TDCXRLM5,Later Pi,2018-08-28,2667,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
3,PEXDGXSRBDXX5FIM,Z4L1WVR5TDCXRLM5,Later Pi,2016-05-29,564,0,Alvin Jenson,EC6ZO52HL81ANX7W,0
4,DOR9GU38YZCS88NN,Z4L1WVR5TDCXRLM5,Later Pi,2015-03-06,6449,0,Alvin Jenson,EC6ZO52HL81ANX7W,0

In [48]:
df_new=df.groupby(['sales_rep','company_name']).agg({'sales_value':'sum'})
df_new

                                                  sales_value
sales_rep        company_name
Alease Puckett   12-Month Originals                     13482
                 Conservatively-Cravated Dabbler        20556
                 Eternal Ap                             12378
                 Freshly-Ground Bleeker                  6496
                 Ninetieth Throne                        8320
...                                                       ...
William Reynolds Unsmiling Edwina                       30264
Yvonne Jones     Electrical Patent                      15129
                 Entry-Limiting Westinghouse            23770
                 Intractable Fairgoers                  38562
                 Smarter Java                            6412

[927 rows x 1 columns]

In [49]:
df_new.groupby(['sales_rep']).apply(lambda x: x.sort_values(by=['sales_value'],ascending=False).nlargest(5,'sales_value'))

                                                                   sales_value
sales_rep        sales_rep        company_name
Alease Puckett   Alease Puckett   Unglued Pompano                        35684
                                  Present-Day Ecumenicists               21546
                                  Conservatively-Cravated Dabbler        20556
                                  Powerless Co-Author                    14815
                                  12-Month Originals                     13482
...                                                                        ...
William Reynolds William Reynolds Preflight Personae                      7191
Yvonne Jones     Yvonne Jones     Intractable Fairgoers                  38562
                                  Entry-Limiting Westinghouse            23770
                                  Electrical Patent                      15129
                                  Smarter Java                            6412

[430 rows x 1 columns]